:root {
    --color-background: lightblue;
    --color-hover: rgb(128, 187, 209);
    --color-tr: lightblue;
    --color-th: blue;
    --color-borde: blue;
}

button {
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

table {
    width: 90%;
    background-color: var(--color-background);
    text-align: center;
    margin-top: 3%;
    margin-bottom: 23%;
    border: 6px solid var(--color-borde);
}

html {
    background: url(https://fondosmil.com/fondo/31951.jpg);
}

input {
    width: 80%;
    text-align: center;
    padding: 3%;
    background-color: lightblue;
    outline: none;
    border: none;
    border-bottom: 2px white solid;
    margin-right: 10px;
}

th {
    background-color: var(--color-th);
    color: white;

}

tr {
    height: 6vh;
    font-size: 1.1em;
}


tr:hover {
    background-color: var(--color-tr);
}

.add {
    padding: 4% 33%;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 50px;
    background-color: lightblue;
}
.add:hover {
    background-color: var(--color-hover);
    transition: all 0.3s;

}

.acciones{
    display: flex;
}
.acciones button {
    background-color: lightblue;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
}
.acciones button:hover {
    background-color: var(--color-hover);
    transition: all 0.3s;

}

th{
    font-size: 1.1em;
}
#footer {
    text-align: center;
}